.three {
    position: absolute;
    left: 41%;
    top: 50px;
    transform: rotate(-15deg);
}

.seven {
    position: absolute;
    left: 43%;
    top: 50px;
}

.ace {
    position: absolute;
    left: 45%;
    top: 60px;
    transform: rotate(15deg);
}
