h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}

body {
    background-color: wheat;
}

div {
    background-color: white;
    margin: 1% 30% 50% 30%;
    padding: 3% 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.place {
    margin-bottom: 3%;
    margin-left: 22%;
    margin-right: 24%;
    padding: 1% 0;
    width: 55%;
}

.check-box {
    font-style: italic;
    margin-left: 45%;
}

.button {
    margin-top: 3%;
    margin-bottom: 0;
    background-color: #cb6b27;
    border: none;
    color: white;
}