body {
    background-color: wheat;
    height: 2000px;
}

p {
    position: fixed;
    left: -10px;
    right: -10px;
    bottom: -35px;
    background-color: #292929;
    padding: 10px 0 15px 15px;
    border: 5px solid rgb(0, 193, 242);
    font-size: 24px;
    color: #fff;
}