body {
    background: #f7f6f2;
    margin: 0;
   }

.top {
    min-height: 15em;
    background: #a1bd57;
}

.over {
    width: 400px;
    min-height: 250px;
    margin: auto;
    background: #fff;
    border: 3px solid #dad6cf;
    position: relative;
    top: -100px;
}