div {
    margin: 50px 30% auto;
}

.box {
    padding: 5px;
    background-color: wheat;
    font-family: Oswald, sans-serif;
    font-size: 24px;
}

.bold {
    font-weight: 700;  
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
    font-family: Oswald, sans-serif;
    font-size: 24px;
}

.semi-bold {
    font-weight: 600;
}
