body {
    height: 2000px;
}

.menu {
    position: sticky;
    top: 0;
    margin: 40px 0;
    background-color: magenta;
    padding: 10px;
} 

.ref {
    margin: 0 10px;
    color: #fff;
}