body {
    background-color: wheat;
}

div {
    position: fixed;
    top: 30%;
    right: 10px;
    width: 10%;
    background-color: rgb(127, 229, 255);
    padding: 1%;
    border-radius: 5%;
}